<div class="top-contributors-container-contributor">
  <div class="top-contributors-container-contributor-name">
    <span data-user-card={{this.user.username}} class="user">
      {{avatar
        this.user
        avatarTemplatePath="avatar_template"
        usernamePath="username"
        namePath="name"
        imageSize="small"
      }}
      {{#if (and (theme-setting "use_full_name") this.user.name)}}
        {{this.user.name}}
      {{else}}
        {{html-safe this.user.username}}
      {{/if}}
    </span>
  </div>

  <div class="top-contributors-container-contributor-likes">
    {{d-icon "heart"}}
    {{this.likes}}
  </div>
</div>