<div class="top-contributors-container-contributor">
  <div class="top-contributors-container-contributor-name">
    <span data-user-card={{user.username}} class="user">
      {{avatar
        user
        avatarTemplatePath="avatar_template"
        usernamePath="username"
        namePath="name"
        imageSize="small"
      }}
      {{#if (and (theme-setting "use_full_name") user.name)}}
        {{user.name}}
      {{else}}
        {{html-safe user.username}}
      {{/if}}
    </span>
  </div>

  <div class="top-contributors-container-contributor-likes">
    {{d-icon "heart"}}
    {{likes}}
  </div>
</div>
